@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #28292B;
}

* {
  scroll-behavior: smooth;
}
.marketwiz_gradient{
  background: #28292B;
  background: linear-gradient(
    262deg,
    #B9C06B -15.24%,
    #8BC9B4 73.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "CocoSharp Trial";
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 97.28px */
  letter-spacing: -0.76px;
}
.marketwiz_spacing{
  background: #28292B;
  display: flex;
height: 481px;
padding: 120px;
flex-direction: column;
align-items: center;
align-self: stretch;
}
.marketwiz_spacing_border{
  background: #28292B;
  display: flex;
  height: 293px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
}


.text-gradient {
  background: #28292B;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}



.bg-black-gradient {
  background: #28292B;
}

.bg-black-gradient-2 {
  background: #28292B;
}

.bg-gray-gradient {
  background: #28292B;
}

.bg-discount-gradient {
  background: #28292B;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: #28292B;
}

.pink__gradient {
  background: #28292B;
}

.white__gradient {
  background: #28292B;
}

