* {
  box-sizing: border-box;
}
@font-face {
  font-family: "CocoSharp Trial";
  src: url(../assets/fonts/Coco-Sharp-Regular-trial.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Meduim.ttf);
}

body {
  margin: 0;
  font-family: "CocoSharp Trial";
}


/* Navbar section */
.nav{
  display: flex;
  background: #28292B;
  justify-content: space-between;
  padding: 0px 120px;
  align-items: center;
  align-self: stretch;
  height: 112px;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  color: #E2E2E2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 11px;
}

.nav-login-button{
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: linear-gradient(113deg, #E4EB78 16.28%, #72CB64 97.76%);
  color: #0C0C0C;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.body{
  background: radial-gradient(54.5% 54.17% at 51.49% 44.83%, rgba(122, 210, 110, 0.38) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(111.35% 91.29% at -9.29% 16.39%, rgba(141, 211, 179, 0.34) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(229deg, rgba(218, 229, 124, 0.39) -20.55%, rgba(156, 163, 96, 0.39) -20.55%, rgba(40, 41, 43, 0.39) 42.75%), #28292B;
}



/* Greeting section */
.greeting{
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

/* All the predictions section */
.predictions-card{
  width: 959px; 
  height: 513px; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 22px; 
  display: inline-flex;
}

/* Weather and economy merged sections */
.weather-economic-pred-card{
  width: 448px; 
  height: 513px; 
  padding-top: 10px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 25px; 
  display: inline-flex;
}


/* Rainfall card section */
.rainfall-pred{
  width: 448px; 
  height: 111px; 
  position: relative;
}

.rainfall-bg{
  width: 448px; 
  height: 111px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.28) 0%, rgba(221.85, 225.25, 55.37, 0) 100%); 
  border-radius: 37px;
}

.rainfall-text-cover{
  width: 393px; 
  height: 73px; 
  left: 28.50px; 
  top: 11px; 
  position: absolute;
}

.rainfall-val{
  width: 123px; 
  height: 62px; 
  left: 271px; 
  top: 11px; 
  position: absolute; 
  color: black; 
  font-size: 60px; 
  font-family: Product Sans; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.rainfall-text{
  width: 253.77px; 
  height: 36.18px; 
  left: 4.94px; 
  top: 11.43px; 
  position: absolute;
}

.rainfall-text-span{
  color: #181818; 
  font-size: 25px;  
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.rainfall-measurement-span{
  color: #181818; 
  font-size: 25px; 
  font-weight: 700; 
  text-transform: lowercase; 
  word-wrap: break-word;
}

.rainfall-extra-span{
  color: #181818; 
  font-size: 25px;  
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}



/* Predicting the price section */
.price-predict{
  width: 449px; 
  height: 367px; 
  padding-top: 18px; 
  padding-bottom: 29px; 
  padding-left: 32px; 
  background: #232323; 
  border-radius: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 14px; 
  display: inline-flex;
}

.price-predict-heading{
  width: 429px; 
  height: 102px; 
  padding-top: 9px; 
  padding-left: 6px; 
  border-radius: 50px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 29px; 
  display: inline-flex;
}

.price-predict-heading-text{
  width: 321px; 
  color: white; 
  font-size: 25px;  
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word
}

.predict-price-inputs{
  width: 398px; 
  height: 114px; 
  padding-left: 1px; 
  padding-right: 4px; 
  border-radius: 50px; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  display: inline-flex;
}

.predict-price-inputs-header{
  width: 386px; 
  height: 28px; 
  border-radius: 50px; 
  justify-content: center; 
  align-items: center; 
  gap: 101px; 
  display: inline-flex;
}

.today-price-header{
  width: 149px; 
  height: 22px; 
  color: #ADADAD; 
  font-size: 20px;  
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.no-of-days-price-header{
  width: 124px; 
  height: 20px; 
  color: #ADADAD; 
  font-size: 20px; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.predict-price-input-boxes{
  width: 386px; 
  height: 74px; 
  border-radius: 50px; 
  justify-content: center; 
  align-items: center; 
  gap: 15px; 
  display: inline-flex;
}

.predict-price-input-boxes-cover{
  width: 240px; 
  height: 54px; 
  position: relative;
}

.predict-price-input-box-lkr-1{
  width: 240px; 
  height: 53.16px; 
  left: 0px; 
  top: 0.84px; 
  position: absolute; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02) inset; 
  border-radius: 15px; 
  border: 1px #EAEAEA solid;
}

.predict-price-input-box-lkr-2{
  width: 183.26px; 
  height: 36.28px; 
  left: 94px; 
  top: 9.28px; 
  position: absolute;
}

.predict-price-input-box-lkr-val-span{
  color: #ADADAD; 
  font-size: 25px; 
  font-family: Poppins; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.predict-price-input-box-lkr-currency-span{
  color: #ADADAD; 
  font-size: 25px; 
  font-family: Poppins; 
  font-weight: 500; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.predict-price-input-box-days{
  width: 130px; 
  height: 53px; 
  position: relative
}

.predict-price-input-box-days-cover{
  width: 126.32px; 
  height: 53px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  border-radius: 12px; 
  border: 1px white solid;
}

.predict-price-input-box-days-minus{
  width: 31.89px; 
  height: 23.94px; 
  left: 11.04px; 
  top: 13.68px; 
  position: absolute; 
  color: #ADADAD; 
  font-size: 25px; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.predict-price-input-box-days-plus{
  width: 31.89px; 
  height: 23.94px; 
  left: 96.89px; 
  top: 14.53px; 
  position: absolute; 
  color: #ADADAD; 
  font-size: 25px; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.predict-price-input-box-days-plus{
  width: 31.89px; 
  height: 23.94px; 
  left: 53.96px; 
  top: 13.68px; 
  position: absolute; 
  color: #ADADAD; 
  font-size: 25px; 
  font-family: Poppins; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.predict-price-button{
  width: 383px; 
  height: 64px; 
  border-radius: 50px; 
  justify-content: flex-start; 
  align-items: flex-end; 
  gap: 43px; 
  display: inline-flex;
}

.predict-price-button-cover{
  width: 144px; 
  height: 64px; 
  position: relative;
}

.predict-price-button-top{
  width: 142.48px; 
  height: 64px; 
  left: 0.38px; 
  top: 0px; 
  position: absolute; 
  background: #FBFBFB; 
  border-radius: 15px;
}

.predict-price-button-text{
  width: 99px; 
  height: 27.04px; 
  left: 26.50px; 
  top: 13.52px; 
  position: absolute; 
  color: black; 
  font-size: 25px; 
  font-family: Poppins; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.predict-price-value{
  width: 196px; 
  height: 64px; 
  color: white; 
  font-size: 60px; 
  font-family: Poppins; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}






/* Sales Prediction small table */
.sales-small-table{
  width: 489px; 
  height: 513px; 
  padding-top: 10px; 
  justify-content: center; 
  align-items: flex-start; 
  gap: 23px; 
  display: inline-flex;
}

.units-small{
  width: 478px; 
  height: 503px; 
  background: linear-gradient(180deg, #F6FE98 0%, #9FD5C9 100%); 
  box-shadow: 13px 0px 12px rgba(0, 0, 0, 0.19); 
  border-radius: 43px; 
  overflow: hidden; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
}

.units-small-title-cover {
  width:395px;
  height:68px;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start; 
  gap: 10px; 
  display: inline-flex;
}

.units-small-title{
  width: 339px; 
  height: 68px; 
  color: black; 
  font-size: 25px; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.units-small-table{
  width: 414px; 
  height: 381px; 
  padding-top: 24px; 
  padding-bottom: 23px; 
  border-radius: 43px; 
  overflow: hidden; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 16px; 
  display: flex;
}

.small-table-first{
  width: 413px; 
  height: 106px; 
  position: relative;
}

.small-table-first-box{
  width: 413px; 
  height: 106px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #FBFBFB; 
  border-radius: 22px;
}

.small-table-first-text{
  width: 259.30px; 
  height: 66.95px; 
  left: 18.86px; 
  top: 21.20px; 
  position: absolute;
}

.small-table-first-text-span{
  color: #181818; 
  font-size: 25px; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-first-val-span{
  color: #181818; 
  font-size: 25px; 
  font-family:Product Sans; 
  font-weight: 700; text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-first-quantity{
  left: 328.14px; 
  top: 16.74px; 
  position: absolute; 
  color: black; 
  font-size: 56px; 
  font-family: Product Sans; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-second{
  width: 413px; 
  height: 100px; 
  position: relative
}

.small-table-second-box{
  width: 413px; 
  height: 100px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #FBFBFB; 
  border-radius: 22px;
}

.small-table-second-text{
  width: 216.29px; 
  height: 63.16px; 
  left: 21.44px; 
  top: 18.95px; 
  position: absolute;
}

.small-table-second-text-span{
  color: #181818; 
  font-size: 22px;  
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-second-val-span{
  color: #181818; 
  font-size: 25px; 
  font-family: Product Sans; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-second-quantity{
  left: 330.03px; 
  top: 24.21px; 
  position: absolute; 
  color: black; 
  font-size: 56px; 
  font-family: Product Sans; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-third{
  width: 414px; 
  height: 101px; 
  position: relative;
}

.small-table-third-box{
  width: 414px; 
  height: 101px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #FBFBFB; 
  border-radius: 22px;
}

.small-table-third-text{
  width: 244.85px; 
  height: 63.79px; 
  left: 21.49px; 
  top: 22.33px; 
  position: absolute;
}

.small-table-third-text-span{
  color: #181818; 
  font-size: 25px;  
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-third-val-span{
  color: #181818; 
  font-size: 25px; 
  font-family: Product Sans; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}

.small-table-third-quantity{
  left: 347.65px; 
  top: 13.82px; 
  position: absolute; 
  color: black; 
  font-size: 56px; 
  font-family: Product Sans; 
  font-weight: 700; 
  text-transform: capitalize; 
  word-wrap: break-word;
}




/* Large sales table */
.units-full-title{
  width: 596px;
  height: 44px;
  color: #FFF;
  font-size: 25px;
  font-weight: 800;
  word-wrap: break-word;
}


/* Download predictions section */
.download-results{
  width:886px;
  height:50px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.download-results-text{
  width: 210px;
  height: 44px;
  color:white;
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
  text-transform: capitalize;
  word-wrap: break-word;
}


/* Footer section */
.footer{
  display: flex;
  background: #28292B;
  justify-content: space-between;
  padding: 24px 120px;
  align-items: center;
  align-self: stretch;
}

.footer-text{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}