/*Main style sheet for index.html*/
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "CocoSharp Trial";
  src: url(../assets/Coco-Sharp-Regular-trial.ttf);
}

body {
  margin: 0;
  font-family: "CocoSharp Trial","Poppins", sans-serif;
}
.nav{
  display: flex;
  background: #28292B;
  justify-content: space-between;
  padding: 0px 120px;
  align-items: center;
  align-self: stretch;
  height: 112px;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  color: #E2E2E2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 11px;
}

.nav-login-button{
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: linear-gradient(113deg, #E4EB78 16.28%, #72CB64 97.76%);
  color: #0C0C0C;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-title{
  text-align: center;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 97.28px */
  letter-spacing: -0.76px;
  background: linear-gradient(262deg, #B9C06B -15.24%, #8BC9B4 73.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle{
  color: #F0F0F0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 152.3%; /* 27.414px */
}

.hero-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 80px 120px 15px;

  background-color: #28292B;
}

.hero-learnmore-button{
  border-radius: 12px;
  border: 2px solid #FFF;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  color: #FFF;
  margin-top: 40px;
}

.info{
  display: flex;
  height: 736px;
  padding: 120px 120px 100px 122px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #28292B;
}

.info-left{
    display: flex;
    width: 550px;
    height: 467px;
    padding: 167px 0px 141px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #F0F0F0;
    box-shadow: 13px 0px 12px 0px rgba(0, 0, 0, 0.19);
    border-radius: 42px;
}

.info-right{
  display: flex;
  padding: 14px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  margin-left: -45px;
}

.info-items{
  display: flex;
  align-items: center;
  flex-shrink: 30px;
}

.info-left-items{
  display: flex;
  width: 403px;
  height: 395px;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  flex-shrink: 0;
}

.info-left-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.info-left-text > h3{
  color: #858585;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.info-left-text > h1{
  color: #121212;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.5%; /* 58.725px */
  letter-spacing: -0.45px;
  align-self: stretch;
}

.info-left-text > h2{
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%; /* 23.04px */
  align-self: stretch;
}

.info-button{
  display: flex;
  font-family: 'Poppins';
  width: 144px;
  padding: 14px 12px 14px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #010F00;
  color: black;
}


.team{
  display: flex;
  padding: 140px 120px 140px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
  align-self: stretch;
  background: #F0F0F0;
}

.team-info{
  display: flex;

  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.team-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.team-title>h1{
  color: #1C1C1C;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 78px */
  letter-spacing: -1px;
  align-self: stretch;
}

.team-title>p{
  color: #1C1C1C;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  align-self: stretch; /* 150% */
}

.team-image-frame{
  display: flex;

  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}

.team-image-left{
  display: flex;
  margin-top: 60px;
  padding-left: 1px;
  align-items: flex-start;
  gap: 13px;
  flex-direction:column ;
  flex-shrink: 0;
}

.contact{
  display: flex;
  height: 735px;
  padding: 140px 120px 140px 122px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  background: radial-gradient(54.5% 54.17% at 51.49% 44.83%, rgba(122, 210, 110, 0.38) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(111.35% 91.29% at -9.29% 16.39%, rgba(141, 211, 179, 0.34) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(229deg, rgba(218, 229, 124, 0.39) -20.55%, rgba(156, 163, 96, 0.39) -20.55%, rgba(40, 41, 43, 0.39) 42.75%), #28292B;
}

.contact-left{
  display: flex;
  width: 459px;
  padding: 129px 0px 129px 80px;
  margin-right: -160px;
  margin-left: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #F0F0F0;
  box-shadow: 13px 0px 12px 0px rgba(0, 0, 0, 0.19);
  border-radius: 42px;
}

.contact-items{
  display: flex;
  align-items: center;
  flex-shrink: 30px;
}

.contact-title{
  display: flex;
  width: 512px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.contact-title>h1{
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 78px */
  letter-spacing: -1px;
  align-self: stretch;
}

.contact-title>p{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: capitalize;
}

.contact-info{
  display: flex;
  width: 940px;
  align-items: center;
  flex-shrink: 0;
}

.contact-left-items{
  display: flex;
  /*height: 395px;*/
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  flex-shrink: 0;
}

.contact-left-text{
  display: flex;
  width: 382px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.contact-left-text >h1{
  color: #121212;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.5%; /* 58.725px */
  letter-spacing: -0.45px;
  align-self: stretch;
}
.contact-left-text >p{
  color: #4D4D4D;
  font-family: "CocoSharp Trial";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%; /* 23.04px */
  align-self: stretch;
  max-width: 290px;
}

.contact-right{
  display: flex;
  width: 459px;
  padding: 104px 0px 104px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #F0F0F0;
  box-shadow: 13px 0px 12px 0px rgba(0, 0, 0, 0.19);
  border-radius: 42px;
  margin-left: -80px;
}

.contact-right-items{
  display: flex;
  width: 378px;
  height: 253px;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.contact-right-text{
  display: flex;
  width: 378px;
  height: 252px;
  flex-direction: column;
  align-items: center;
  margin-top:10px ;
  gap: 26px;
  flex-shrink: 0;
}

.contact-right-text > input{
  width: 378px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #D9D9D9;
  color: rgba(9, 2, 2, 0.54);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.5%; /* 23.49px */
  display: flex;
  width: 305px;
  height: 63px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: center;
  text-align: center;
}
.contact-right-text > a{
  width: 156px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 28px;
  align-self: center;
  background: #28292B;
}
.contact-button{
  display: flex;
  width: 111.621px;
  height: 31.642px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.5%; /* 26.1px */
  align-self: center;
  text-align: center;
}

