body, html{
  margin: 0;
  padding: 0;
}



/*Styles for the navigation bar*/
nav {
  background-color: #28292B;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0; 
  align-items: center;
}

.nav-links a, .nav-links button {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a {
  color: #e2e2e2;
}

.nav-links button {
  background: linear-gradient(#E4EB78, #72CB64);
  border: none;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-links a:hover, .nav-links button:hover {
  background-color: #555;
}



/* Styles for the footer */
footer {
  clear: both;
  background-color: #28292B;
  color: #ffffff;
  text-align: left;
  padding: 24px 120px; /* Top, Right, Bottom, Left */
  width: 100%; /* Set the width to 1200 pixels */
  height: 113.16px; /* Set the height to 113.16 pixels */
}

footer img {
  width: 125px;
  height: 65.16px;
  margin-right: 10px;
  margin-left: 0;
  float: left;
}

footer p {
  font-family: "cocosharp trial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  clear: right; /* Added clear property to clear the right float */
}


